@font-face {
  font-family: 'FRE IBM';
  src: url('./FREIBMLIGHT-Regular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FRE IBM';
  src: url('./FREIBMREGULAR-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FRE IBM';
  src: url('./FREIBMMedium-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
